.awesome{
    margin-bottom: 58px;
}
.awesome__design-block{
    display: flex;
    justify-content: space-between;
    width: calc(370px * 3 + 30px * 2);
}
.awesome__title{
    font-family: 'Raleway', sans-serif; 
    font-size: 36px;
    line-height: 150px;
    text-align: center;
    font-weight: 400;
    height: 150px;
}
.awesome__separator{
    width: 170px;
    border: 1px solid #EC7979;
    margin: 0 auto;
    margin-bottom: 40px;
}
.awesome__text{
    font-family: 'Raleway', sans-serif; 
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
    margin-bottom: 71px;
}
.awesome__item{
    max-width: 370px;
    min-height: 383px;
}
.awesome__img{
    display: block;
    margin: 0 auto;
}
.awesome__subtitle{
    height: 100px;
    font-weight: 700;
    font-size: 24px;
    line-height: 100px;
    text-align: center;
    text-transform: capitalize;
    margin: 0 0 8px;
}
.awesome__descr{
    text-align: center;
    font-style: normal;
    font-family: 'Raleway', sans-serif; 
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

