.tabs{
  margin-bottom: 50px;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.open-tab{
  display: flex;
  justify-content: space-between;
}
.tabs .open-tab {
  border: 1px solid #C6CBCD;
  border-top: none;
}

.tabs .open-tab .left-side h3 {
  min-height: 124px;
  line-height: 124px;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 27px;
}

.tabs .left-side h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  margin-bottom: 27px;
}

.tabs__btn {
  font-family: 'Open Sans' sans-serif;
  font-size: 18px;
  font-weight: 600;
  border: none;
  color: #fff;
  width: 270px;
  height: 58px;
  background: #EC7979;
}

.tabs .left-side {
  width: 570px;
  /* display: inline-block; */
  margin: 0 30px 0 100px;
  vertical-align: top;
}

.tabs .tabs-list .tabs-list__tab1,
.tabs .tabs-list .tabs-list__tab2,
.tabs .tabs-list .tabs-list__tab3,
.tabs .tabs-list .tabs-list__empty-tab {
  display: inline-block;
  vertical-align: middle;
  margin-right: -5px;
  text-transform: uppercase;
  font-family: 'Open Sans' sans-serif;
  font-weight: 400;
  font-size: 14px;
  height: 40px;
  color: #333;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.tabs .tabs-list .tabs-list__tab1 {
  width: 201px;
  height: 40px;
  border: 1px solid #C6CBCD;
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
}

.tabs-list__tab2, .tabs-list__tab3{
  width: 184px;
  border-bottom: 1px solid #C6CBCD;
}

.tabs-list__empty-tab{
  width: 600px;
  border-bottom: 1px solid #C6CBCD;
}